.item{
    width: 21%;
}
.item img{
    width: 100%;
}
.item p{
    margin: 6px 0px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.item-prices{
    display: flex;
    gap: 15px;
}
.item-price-new{
    color: black;
    font-size: 24px;
    font-weight: 700;
    background: rgba(104, 85, 224, 0.6);
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}
.item-price-old{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-decoration: line-through;
    background: white;
    border-radius: 8px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid black;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}


@media(max-width:800px){
    .item{
        width: 35%;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item p{
        font-size: 14px;
    }
    .item-price-new{
        font-size: 14px;
    }
}