.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background:  linear-gradient(180deg, rgba(104, 85, 224, 0.6), black 110%);
    padding-top: 50px;
}
.new-collections h1{
    color: #000000;
    font-size: 40px;
    font-weight: 600;
}
.new-collections hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: black;
    border-color: black;
}
.collections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto;
    gap: 30px;
    max-width: 1280px;
}
